.info{
    // background-image: url(Design/Asse);
    background-color: rgb(214, 236, 245);  
    text-align: center;
    .text{
        font-family: sans-serif;
        font-family: 'Cairo', sans-serif !important;

        h2{
            // margin: .%;
            
            line-height: 3em;
            font-size: 3em;
            color: rgb(61, 120, 187);   
        }
        p{
            color: rgb(65, 129, 189);
            font-size: 2em;
            font-weight: 400;
            
        }
    }
    a{
        line-height: 5em;
        background-color:rgb(88, 140, 199);
        width: 23%;
        margin-top: 3%;
        padding: .9%;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: .2em;
        border: darkblue;
        cursor: pointer;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 3%;
        text-decoration: none;
    
    }
}


@media only screen and (max-width: 600px){
.text{
    font-size: 60%;
    margin-left: 10%;
    margin-right: 10%;

}
}

