.Préambule{
    padding: 1.7em;
    font-family: 'Cairo', sans-serif !important;
    &__para{
        padding: 1rem;
        background-color:rgb(236, 236, 236);
        margin: 0 auto;
        width: 80%;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
            p{
                padding-bottom: 2em;
                line-height: 170%;
                font-size: 1.3em;
            }
           
            h3{
                color: rgb(0, 128, 192);
                margin: 2rem;
            }
            hr{
                background-color: rgb(216, 213, 213);
                height: .1em;
                width: 90%;
                margin: 20px auto;
                border: none;
                
            }
            
        }
        &__buttons{
            text-align: center;
            .btn4{
                width: 15%;
                margin-top: 2.5%;
                width: 15%;
                margin-top: 2.5%;
                text-decoration: none;
                background-position: center; 
                text-align: center;
                width: 28%;
                margin-top: 2%;
                background-image: url("/Starter-file/Assets/png/Merged\ bar-43.png");
                padding: 1%;
                color: rgb(0, 128, 192);
                font-size: 1.3rem;
                font-weight: 700;
                border-color:rgb(0, 128, 192);
                border-radius: 9px;
                cursor: pointer;
                &:hover {
                    background-color: #1078ad;
                    color: white;
                }
            }
        }
    }

    .Résultats{
        display: none;
        width: 80%;
        background-color: rgb(216, 213, 213);
        margin: 0 auto;
        padding: 20px 40px;
        border-radius:  1rem;
    
        &__paragraph1{
            font-size: 25px;
            text-align: justify;
            text-align-last: center;
            line-height: 30px;
            margin-bottom: 3rem;
            color: rgb(0, 128, 192);
    
        }
    &__paragraph2{
        font-size: 20px;
        text-align: justify;
        text-align-last: center;
        line-height: 30px;
        margin-bottom: 3rem;
        color: rgb(0, 128, 192);
    
    }
    h1 {
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 30px;
        text-align: center;
         color:rgb(0, 128, 192);
    }
}

.wrapper {
    width: 70%;
    margin: 80px auto 20px;
}

.stepper{
    display: grid;
    grid-template-columns: 33% 33% 33%;

h1{
    font-size: 1.3em;
    color: rgb(0, 128, 192);
    position: relative;
    display: flex;
    justify-content: center;
&::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: rgb(0, 128, 192);
    border-radius: 100%;
    position: absolute;
    margin-top: -30px;
}
&::after {
    content: '';
    height: 20px;
    width: 20px;
    background-color:rgb(0, 128, 192);
    border-radius: 100%;
    position: absolute;
    margin-top: -30px;
    z-index: -1;
    transition: all 0.3s ease;
}
}

.active{
    &::before {
        content: '';
        height: 23px;
        width: 23px;
        background-color: rgb(241, 241, 45);
        border-radius: 100%;
        position: absolute;
        margin-top: -2rem;
        z-index: 100;
    }
    
    &::after {
        content: '';
        height: 50px;
        width: 50px;
        background-color: rgb(163, 207, 224);
        border-radius: 100%;
        position: absolute;
        margin-top: -45px;
        z-index: 1;
    }
}
}


#questionnaire {
    width: 70%;
    border: 1px solid rgb(190, 190, 190);
    margin: 20px auto;
    border-radius: 4px;
    display: none;
    margin-bottom: 50px;
    overflow: hidden;
    h1 {
        text-align: center;
        font-size: 31px;
        color: #787878;
        font-weight: bolder;
        width: 82%;
        margin: 70px auto;
    }
    .progress {
        border-bottom: 1px solid rgb(190, 190, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0;
        background-color: #f7f7f7;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        h3 {
            font-weight: bolder;
            margin-right: 15px;
        }
        &__bar {
            width: 90%;
            height: 10px;
            border-radius: 20px;
            background-color: #e6f1f7;
            overflow: visible;
            .bar {
                height: 100%;
                width: calc(1 * calc(100% / 22));
                background-color: rgb(0, 128, 192);
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                transition: all .4s ease;
            }
        }
    }
}

.answer-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    input[type="number"] {
        font-size: 16px;
        border: 1px solid rgb(0, 128, 192);
        width: 55%;
        padding: 10px;
    }
    .input-span {
        font-size: 16px;
        border: 1px solid rgb(0, 128, 192);
        border-left: none;
        padding: 4px 10px 5px;
        color: rgb(85, 85, 85);
        background-color: #edf6fa;
    }
    input[type="radio"] {
        -webkit-appearance: none;
    }
    input[type="radio"]:checked+label {
        background-color: rgb(0, 128, 192);
        color: rgb(241, 241, 45);
    }
    label {
        height: 80px;
        width: 120px;
        color: rgb(0, 128, 192);
        border-radius: 4px;
        border: 4px solid rgb(0, 128, 192);
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9px 0px 0;
        transition: .5s ease;
        margin-right: 50px;
        span {
            font-size: 22px;
            position: relative;
            bottom: 5px;
        }
    }
}

.btn-container {
    margin: 110px 0 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button {
        font-size: 17px;
        background-color: #cfe4ef;
        padding: 10px 20px;
        color: rgb(0, 128, 192);
        border: 2px solid rgb(0, 128, 192);
        border-radius: 4px;
        transition: .3s ease;
        margin-right: 6rem;
        &:hover {
            background-color: rgb(0, 128, 192);
            color: white;
        }
    }
}



@media screen and (max-width: 900px) {

  
}
