.recommandation{
    display: flex;
    flex-direction: column;
         &__title{
             background-color:#1078AD;
             padding-bottom: .5em;
             font-size:1.3rem;
           h1{
               text-align: center;
               color:#fff;
               margin: 1em;
           }
          
     }
     &__conseil{
        h4{
            color: #fff;
            padding-left: 15em;
       }
    }

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1078AD;
    padding: 2em;
    &__cons{
   ul{
       font-weight: bold;
       color: #fff;
       line-height: 2em;
       list-style: none;
     span{  
       color:yellow;
       padding-right: 1em;
       }
   }    
}
&__appel{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2em;
  text-align: center;
  font-weight: bold;

  h3{
      color:yellow;
  }
  &--num1{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;
      color:#1078AD;
     
  }
  &--num2{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;
      color: #1078AD;
  }&--num3{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;

      color: #1078AD;
  }
}
}
}

@media screen and (max-width: 900px) {
    .recommandation{  
        &__title{
            font-size: 1em;
        }
        &__conse{
            h4{
                  
           }
        }
   .list{
      display: flex;
      flex-direction: column;
       &__appel{
       

        display: flex;
       justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: .30em;
        margin: 1em;
        h3{
            padding-top: 2em; 
        }   
       }
    }
  }
}