// .recommandations {
//     background-color: #1078ad;
//     width: 100%;
//     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

//     h2 {
//         text-align: center;
//         color: white;
//         padding-top: 1em;
//         padding-bottom: 2em;
//         font-size: xx-large;
//     }

    
//     &__information {
//         display: grid;
//         grid-template-columns: repeat(2, 50%);

//         .consiels {
//             padding-left: 6em;
//             color: white;
//             &__ligne {
//                 text-align: center;
//                 padding-bottom: 1em;
//                 font-size: 1.3em;
//             }
//             &__cnc {
//                 list-style: none;

//                 li {
//                     margin: 1em ;
//                     font-size: 1.1em;
//                     font-family: Verdana, Geneva, Tahoma, sans-serif;
//                 }
//             }
//         }

//         .emerg {
//             text-align: center;
//             h3 {
//                 color: yellow;
//             }
//             .numéro {
//                 font-family: Verdana, Geneva, Tahoma, sans-serif;

//                 margin: 1em;
//                 position: relative;
//                 width: 20%;
//                 left: 50%;
//                 transform: translateX(-50%);
//                 padding: 1em 2em;
//                 border-radius: 1em;
//                 background-color: yellow;
//                 color: #1078ad;
//             }
//         }
//     }
// }


// @media only screen and (max-width: 600px) {
//     .recommandations {
//         &__information {
//             display: grid;
//             grid-template-columns: repeat(1, 100%);
//             .consiels {
//                 padding-left: 3em;
//                 color: white;
//                 text-align: center;
//                 &__ligne{
//                     text-align: center;
//                     padding-bottom: 1em;
//                     font-size: 1em;
//                 }
//                 &__cnc{
//                     list-style: none;
//                     font-size: .8em;
//                     left: 10rem;
                    
//                     li {
//                         margin: 1em 0;
//                     }
//                 }
//             }

//             .emerg{
//                 text-align: center;
//                 .numéro{
//                     background-color: yellow;
//                     margin: 1em 0;
//                     position: relative;
//                     width: 20%;
//                     left: 50%;
//                     padding: 1em 4em;
//                     border-radius: 1em;
//                     color: #1078ad;
//                 }
//             }
//         }
//     }
// }

.recomm{
    display: flex;
    flex-direction: column;
         &__title{
             background-color:#1078AD;
             padding-bottom: .5em;
             
           h1{
               text-align: center;
               color:#fff;
               margin: 1em;
           }
          
     }
     &__conse{
        h4{
            color: #fff;
            padding-left: 15em;
       }
    }

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1078AD;
    padding: 2em;
    &__cons{
   ul{
       font-weight: bold;
       color: #fff;
       line-height: 2em;
       list-style: none;
     span{  
       color:yellow;
       padding-right: 1em;
       }
   }    
}
&__appel{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2em;
  text-align: center;
  font-weight: bold;

  h3{
      color:yellow;
      
     
  }
  &--num1{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;
      color:#1078AD;
     
  }
  &--num2{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;
      color: #1078AD;
  }&--num3{
      background-color:yellow;
      border-radius: .25em;
      width: 10em;

      color: #1078AD;
  }
}
}

}

@media screen and (max-width: 900px) {
    .recomm{  
        &__conse{
            h4{
                padding-left: 2em; 
               
        
           }
        }
   .list{
      display: flex;
      flex-direction: column;
       &__appel{
       

        display: flex;
       justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: .30em;
        margin: 1em;
        h3{
            
            padding-top: 2em;
           
        }
        
        
       }
    }
  }
}