   

#test1{
    text-align: center;
    a{
        // width: 15%;
        margin-top: 2.5%;
        text-decoration: none;
        background-position: center; 
        text-align: center;
        // width: 28%;
        // margin-top: 2%;
        background-image: url("/Starter-file/Assets/png/Merged\ bar-43.png");
        padding: 2%;
        color: rgb(0, 128, 192);
        font-size: 1.3rem;
        font-weight: 700;
        border-color:rgb(0, 128, 192);
        border-radius: 9px;
        cursor: pointer;
        &:hover {
            background-color: #1078ad;
            color: white;
        }
    }
}



